@import url('https://fonts.googleapis.com/css2?family=Alice&family=Sofia+Sans:ital,wght@0,400;0,600;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Buenard:wght@400;700&family=Mulish:wght@200&display=swap');

rotate90 {
	transform: rotate(-90deg);
}

.active-class-name {
	font-weight: '900';
	background-color: 'blue';
}

.non-active-class-name {
	font-weight: '100';
	background-color: 'red';
}

.top-to-btm {
	position: relative;
}

.icon-position {
	position: fixed;
	bottom: 20px;
	left: 10px;
	z-index: 20;
	writing-mode: vertical-lr;
	letter-spacing: 0.2em;
	-moz-transform: scale(-1, -1);
	-webkit-transform: scale(-1, -1);
	-o-transform: scale(-1, -1);
	-ms-transform: scale(-1, -1);
	transform: scale(-1, -1);
}
.fly-home {
	position: fixed;
	top: 20px;
	left: 10px;
	z-index: 20;
	writing-mode: vertical-lr;
	letter-spacing: 0.2em;
	-moz-transform: scale(-1, -1);
	-webkit-transform: scale(-1, -1);
	-o-transform: scale(-1, -1);
	-ms-transform: scale(-1, -1);
	transform: scale(-1, -1);
}
.sideT {
	position: absolute;
	top: 300px;
	right: 20px;
	z-index: 20;
	writing-mode: vertical-lr;
	letter-spacing: 0.2em;
	-moz-transform: scale(-1, -1);
	-webkit-transform: scale(-1, -1);
	-o-transform: scale(-1, -1);
	-ms-transform: scale(-1, -1);
	transform: scale(-1, -1);
}

.progress {
	position: fixed;
	bottom: 4px;
	left: 0;
	width: 100%;
	height: 4px;
	transform-origin: 0 0;
	background-color: rgb(81, 93, 116);
	z-index: 2;
}

.slide-in {
	position: auto;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background: #0392ff;
	transform-origin: top;
}

.slide-out {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background: #0392ff;
	/* background: #0781df;
	transform-origin: right; */
}

.gradient {
	background: radial-gradient(farthest-side at bottom left, rgba(255, 0, 255, 0.5), transparent),
		radial-gradient(farthest-corner at bottom right, rgba(255, 50, 50, 0.5), transparent 400px);
}

.styledText {
	font-size: calc(32px + (80 - 32) * ((100vw - 320px) / (1600 - 320)));
	line-height: calc(32px + (80 - 32) * ((100vw - 320px) / (1600 - 320)));

	font-family: SF Pro;
	text-transform: uppercase;

	position: relative;
	display: inline-block;
	max-width: 100%;

	word-break: break-word;
	z-index: 10;

	color: white;
}

.sc {
	transform: skewX(0deg) skewY(5deg);
}
.rm {
	transform: skewX(0deg) skewY(-5deg);
}
.clipL {
	clip-path: polygon(0 0, 100% 0%, 100% 100%, 100% 50%);
}

.clip5 {
	clip-path: polygon(0 0, 100% 0%, 100% 100%, 100% 100%);
}
.slant-section {
	clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
	-webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
	margin-bottom: -10vw;
}
.circle {
	clip-path: circle(100%);
}

.specialCaseNoSelect {
	-webkit-user-select: none;
}

.err {
	background-image: linear-gradient(45deg, transparent 65%, red 80%, transparent 90%),
		linear-gradient(135deg, transparent 5%, red 15%, transparent 25%),
		linear-gradient(135deg, transparent 45%, red 55%, transparent 65%),
		linear-gradient(45deg, transparent 25%, red 35%, transparent 50%);
	background-repeat: repeat-x;
	background-size: 8px 2px;
	background-position: 0 95%;
}
