@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&family=Gloria+Hallelujah&family=Kristi&family=Lobster+Two:ital,wght@0,400;0,700;1,400&family=Noto+Serif+Oriya:wght@400;500;600;700&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Rubik+Gemstones&family=Rubik+Microbe&family=Zen+Dots&display=swap');
.flip {
	writing-mode: vertical-rl;
	text-orientation: mixed;
}
.scatter {
	writing-mode: vertical-rl;
	text-orientation: upright;
}

.rotate {
	display: inline;
	font-size: 50px;
	font-style: bold;
	-moz-transform: scale(-1, -1);
	-webkit-transform: scale(-1, -1);
	-o-transform: scale(-1, -1);
	-ms-transform: scale(-1, -1);
	transform: scale(-1, -1);
}
